<configuration>
	<include resource="env/${app.env}/logback-appender.xml" />

	<appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
		<appender-ref ref="MAIN" />
	</appender>

	<appender name="ASYNC-SQL" class="ch.qos.logback.classic.AsyncAppender">
		<appender-ref ref="SQL" />
	</appender>

	<logger name="org.hibernate.SQL" level="TRACE" additivity="false">
		<appender-ref ref="ASYNC-SQL" />
	</logger>

	<root level="INFO">
		<appender-ref ref="ASYNC" />
	</root>
</configuration>